/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body{
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin:0;
}

h1 {
    color: #d63031 ;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    
}

p{
    font-size: 18px;
    text-align: left;
}
.druhy{
    margin-bottom: 30px;
}

.vizitka{
    margin: 150px auto;
	width: 550px;
	border-radius: 10px;
	position: relative;
    background-color: white;
    box-shadow: 1px 1px 10px 0.5px grey;
    padding: 30px;

}

img{
    position: absolute;
    right: -75px;
    top: -75px;
    width: 150px;
	height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 3px 3px 11px  grey;
}

a{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}


.twitter{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background-color:  #1da1f2;
    margin-bottom: 5px;
    
} 
.twitter:hover{
   background-color: #0b7bc1

}

.facebook{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background-color: #3b5998 ;
   
    
}
.facebook:hover{
    background-color: #2b406e;
}



/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

